<main>
    <section class=locker>
        <locker></locker>
    </section>

    <h1 class=title>Inventory</h1>

    <ul class=inventory-list>
        <li><inventory [deviceKey]="'starterKit'"></inventory></li>
        <li><inventory [deviceKey]="'fireStick'"></inventory></li>
        <li><inventory [deviceKey]="'echoDot'"></inventory></li>
    </ul>

    <section class=settings>
        <h1 class=title>Settings</h1>
        <dl class=settings-list>
            <dt>Battery:</dt>
            <dd style="position: relative;">
                <img src="../assets/empty-battery.png" style="position: absolute; z-index: -1;">
                <div class=battery-life [style.width]="lockerService.batteryLife + 8 + 'px'"
                [style.backgroundColor]="calculateBatteryBg(lockerService.batteryLife)"></div>
            </dd>

            <dt>Status: <span class=led-status>{{lockerService.ledStatus}}</span></dt>
            <dd (click)="lockerService.toggleLock()">
                <img style="padding-left: 40px; cursor: pointer;" [src]="'assets/' + lockerService.ledStatus + '.png'">
            </dd>

            <dt style="line-height: 40px;">Power Save</dt>
            <dd style="margin-left: -85px; font-size: 12px;">
                H <input type=number value={{lockerService.saveTimerHour}}>
                M <input type=number value={{lockerService.saveTimerMin}}>
                <button class=set-power-save>Set</button>
            </dd>
        </dl>
    </section>
</main>
