* {
    box-sizing: border-box;
}
body {
    background-color: #3591C0;
    padding: 0;
    margin: 0;
}
main {
    font-weight: normal;
    font-family: Brandon;
    color: white;
    padding: 20px 40px 10px 120px;
    text-transform: uppercase;
}

.app-header {
    padding: 10px;
    background-color: #ebedf3;
}
.app-header img:first-child {
    padding-right: 20px;
    border-right: 1px solid #9b9b9b;
    margin-right: 15px;
}

.title {
    font-size: 24px;
}

.inventory-list {
    list-style-type: none;
}

.inventory {
    margin-top: 25px;
}

.inventory img {
    vertical-align: middle;
    margin-right: 25px;
    width: 70px;
    height: auto;
}

.device-name {
    text-transform: none;
    font-weight: normal;
    display: inline-block;
    white-space: pre-wrap;
    vertical-align: middle;
    margin: 0;
    margin-right: 25px;
    min-width: 130px;
}

.settings {
    position: fixed;
    bottom: 55px;
}

.settings .title {
    margin: 0;
}

.settings-list {
    border-top: 1px solid rgba(215, 215, 215, .5);
    padding-top: 20px;
    overflow: hidden;
    font-size: 20px;
}

.settings-list dt {
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    width: 270px;
    font-weight: normal;
}
.settings-list dd {
    display: inline;
    vertical-align: middle;
    text-align: center;
    width: 300px;
}

.settings-list dd::after {
    display: block;
    content: "";
}

.battery-life {
    display: inline-block;
    height: 32px;
    margin: 2px;
    border-radius: 3px;
}

.led-status {
    font-weight: bold;
}

input[type=number] {
    width: 60px;
    height: 35px;
    font-size: 18px;
    color: white;
    background-color: rgba(215, 215, 215, .2);
    border: 0;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 2px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.set-power-save {
    width: 72px;
    height: 35px;
    margin: 0;
    margin-top: -1px;
    padding: 0;
    background-color: #4a4a4a;
    border-radius: 2px;
    font-size: 18px;
    color: white;
    border: 0;
    font-family: Brandon;
    text-transform: uppercase;
}

.circle-container {
    width: 100px;
    height: 100px;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.locker {
    float: right;
}

.locker-container {
    position: relative;
}

.locker-item-starterKit {
    position: absolute;
    top: 25px;
    left: 60px;
}
.locker-item-fireStick {
    position: absolute;
    top: 370px;
    left: 35px;
}

.locker-item-echoDot {
    position: absolute;
    top: 362px;
    left: 238px;
}

footer {
    position: fixed;
    bottom: 0;
    font-family: sans-serif;
    font-size: 12px;
    background-color: #ebedf3;
    height: 40px;
    width: 100%;
    padding-left: 20px;
    padding-top: 13px;
}
